

  <div class="myModal " >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title mb-1">{{data.name}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="mb-3"> {{data.msg}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dismiss()">Abbrechen</button>
          <button type="button" class="btn btn-danger" (click)="accept()">{{data.acc}}</button>
        </div>
      </div>
    </div>
  </div>

 